.html {
  margin: 0;
}

body {
  background-color: rgba(29, 88, 125, 255);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1% 1%;
  transition: transform .2s;
  margin: 0% 1%;
}

.detail-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10% 2%;
  transition: transform .2s;
  margin: 0% 1%;
}

button {
  margin: 3% 0%;
  background-color: rgb(203, 167, 238);
  border: 2px solid rgb(203, 167, 238);
  border-radius: 5px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

button:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

.h3-button {
  margin: 3% 40%;
  background-color: rgb(203, 167, 238);
  border: 2px solid rgb(203, 167, 238);
  border-radius: 5px;
  width: 20%;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.h3-button:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

.h3-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

select {
  margin: 1% 0%;
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 95%;
  border: 5px solid grey;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.349);
  background-color: rgba(121, 209, 205, 255);
  transition: transform .2s;
  margin: 1% 0%;
}

.course :hover {
  opacity: .6;
  transform: scale(1.1);
}

.card :hover {
  transform: scale(1);
  opacity: 1;
}

.homebackground {
  display: flex;
  justify-content: center;
  margin: auto;
}

.logoimage {
  height: 700px;
  /* width: 1000px; */
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 35fr 1fr;
  background-color: rgba(121, 209, 205, 255);
  height: 5vh;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 10px white;
  border-radius: 5px;
  padding-left: 2vw;
  padding-right: 2vw;
}

.mainLinks {
  display: flex;
  gap: 3vw;
}

.link {
  text-decoration: none;
  font-size: xx-large;
  color: rgb(0, 0, 0);
  transition: transform .2s;
}

.link:hover {
  transform: scale(1.2);
  color: rgba(56, 56, 56, 0.781);
}

.aboutTitle {
  font-size: 40px;
}

.imageOne {
  height: 90%;
  width: 70%;
  border: 5px solid black;
  border-radius: 30px;
}

.imageTwo {
  height: 90%;
  width: 70%;
  border: 5px solid black;
  border-radius: 30px;
}

.imageThree {
  height: 90%;
  width: 70%;
  border: 5px solid black;
  border-radius: 30px;
}

.imagesContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.aboutParagraph {
  font-size: 30px;
}

.dropdown {
  height: 4vh;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(121, 209, 205, 255);
  border-radius: 10px;
  margin: 15px;
}

.form-container {
  background-color: rgba(225, 255, 240, 255);
  margin: 6% 35%;
  width: 25%;
  height: 30%;
  padding: 2%;
  border-radius: 30px;
  border: 3px solid black;
}

.view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: -15% 0% 0% 0%;
}